# The .editorconfig file automatically standardizes code formatting
# (indentation, encoding, line endings, spaces) across all editors and developers.
# It ensures that code remains clean and consistent, regardless of the tool used.

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
max_line_length = 100
