# Le fichier .editorconfig permet d’uniformiser automatiquement le formatage du code
# (indentation, encodage, fins de ligne, espaces) entre tous les éditeurs et développeurs.
# Il garantit que le code reste propre et cohérent, quel que soit l’outil utilisé.

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
max_line_length = 100
