# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
.venv/
venv/
env/

# Django artifacts
staticfiles/
media/

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/

# Secrets
.env
.env.*
